//----------------------------- Escala Tonal -----------------------------------
//------------------------------------------------------------------------------
$light-color:                          #ffffff;                      //fff
$light-backup:                         darken($light-color, 2.6%);   //#f8f8f8
$practically-light-color:              darken($light-color, 10%);    //#e6e6e6
$almost-light-color:                   darken($light-color, 20%);    //#ccc
$nearly-light-color:                   darken($light-color, 30%);    //#b3b3b3
$mid-light-color:                      darken($light-color, 40%);    //#999
$mid-color:                            darken($light-color, 50%);    //#808080
$mid-dark-color:                       darken($light-color, 60%);    //#666
$nearly-dark-color:                    darken($light-color, 70%);    //#4d4d4d
$almost-dark-color:                    darken($light-color, 80%);    //#333
$practically-dark-color:               darken($light-color, 90%);    //#1a1a1a
$dark-color:                           darken($light-color, 100%);   //#000

//----------------------------- Colores de la página -----------------------------------
//------------------------------------------------------------------------------

$main-color:                           #30c084 !default;       // Color que más se repite en la web
$custom-color:                         #111301 !default;      // Segundo color que más se repite en la web

$success-color:                        #11C676 !default;
$danger-color:                         #FC394C !default;

$link-color:                           #2a1f91 !default;

//---------------------------- Fuentes Base ------------------------------------
//------------------------------------------------------------------------------
$main-font:                            'Helvetica' !default;  // Tipografía que más se repite en la web, ejemplo parrafos, span y enlaces

$custom-font:                          'Courier New' !default;   // Segunda tipografía que más se repite en la web, ejemplo Hs

//---------------------------- Resoluciones ------------------------------------
//------------------------------------------------------------------------------
$screen-xs:                            341px !default;   // Small screen / phone
$screen-sm:                            569px !default;   // Small screen / phone
$screen-md:                            769px !default;   // Medium screen / table
$screen-lg:                            1025px !default;  // large screen / desktop
$screen-xl:                            1201px !default;  // Extra large screen /wide desktop

//---------------------------- Font-Sizes --------------------------------------
//------------------------------------------------------------------------------

$main-font-size:                        2rem !default; // Tamaño del título principal
$title-font-size:                       1.5rem !default; // Tamaño de los títulos
$subtitle-font-size:                    1.3rem !default; // Tamaños de los subtítulos
$p-font-size:                           1rem !default; // Tamaño de los párramos
$input-font-size:                       1rem !default;
$link-font-size:                        .8rem !default;

$p-line-height:                         1.5 !default; // Tamaño de interlineado de los párrafos
